iterm2/
github-copilot/
gh/
composer/
containers/
cursor/
Cursor/
did-you-mean-nodejs/
google-chrome/
libreoffice/
mozilla/
obsidian/
outlook-for-linux/
shopify-app-account-info-nodejs/
shopify-cli-app-command-nodejs/
shopify-cli-app-nodejs/
shopify-cli-host-theme-conf-nodejs/
shopify-cli-kit-nodejs/
shopify-cli-theme-conf-nodejs/
shopify-cli-theme-store-password-nodejs/
Slack/
tmux/
vlc/
Code/
pulse/
xfce/
go/
dconf/
spotify/
Thunar/
xfce4/xfconf/xfce-perchannel-xml/thunar.xml