[Unit]
Description=Change wallpapers every 3 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=3h
Unit=wallpaper.service

[Install]
WantedBy=timers.target